@import '@xterm/xterm/css/xterm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  background: theme('colors.base');
  color: theme('colors.fg');
  font-family: theme('fontFamily.ui');
}
